body{
    overflow-x: hidden;
    background-color: rgb(248, 248, 248);
    max-width: 100vw;
    max-height: 100vh;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

b{
    padding: 5px;
    margin: 10px;
}

h1{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#MP{
    border-radius: 5px;
    padding: 3px;
    background-color: #000000;
    color: white;
    left: 30%;
    bottom: 100%;
    position: absolute;
    font-size: 60%;
}

.navbar{
    display: flex;
    position: relative;
    width: 100%;
    height: 130px;
    background-color:  rgb(121, 219, 175);
}

.half1, .half2{
    width: 50%;
    height: 100%;
}

.half2 ul{
    position: relative;
    top: 20%;
    justify-content: space-around;
    display: flex;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.half2 ul li{
    padding: 5px;
}

.half2 ul a li:hover{
    color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: 10ms;
}

.half1 img{
    position: relative;
    margin: 0px;
    left: 10%;
    height: 100%;
}

#about, #projects, #kurz, #support{
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.kontejner_kurz{
    justify-content: space-around;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    position: relative;
    width: 80%;
    height: 100vh;
    margin: 10%;
    margin-top: 25px;
}

.Pro, .Standart, .Ultra{
    color: rgb(0, 0, 0);
    background: linear-gradient(to top, rgb(23, 108, 194) , #ADEFD1FF 80%);
    text-align: center;
    border-radius: 20px;
    width: 27%;
    height: 90vh;
    transition: 300ms;
    margin: 20px;
    min-width: 320px;
}

.Pro:hover, .Standart:hover{
    color: rgb(0, 0, 0);
    background: linear-gradient(to top, rgb(23, 108, 194) , #ADEFD1FF 90%);
    text-align: center;
    border-radius: 20px;
    min-width: 27%;
    height: 90vh;
    min-width: 320px;
    transition: 0.3s;
}

.Ultra:hover{
    background: linear-gradient(to top, rgb(23, 108, 194) , #ADEFD1FF 90%);
    border: 3px solid black;
}

.Ultra{
    border: 3px solid black;
}

._list li{
    margin: 5px;
    font-size: 50%;
    text-align: left;
}

.Ultra1, .Ultra2, .Pro1, .Pro2, .Standart1, .Standart2{
    position: relative;
    width: 100%;
    height: 50%;
}

.Buy{
    background: linear-gradient(to right, rgb(120, 17, 255), rgb(145, 60, 255));
    position: relative;
    font-size: 25px;
    border-radius: 10px;
    width: 50%;
    height: 50px;
    position: relative;
    left: 25%;
    top:30%;
}

.Buy:hover{
    background: linear-gradient(to right,rgb(145, 60, 255), rgb(120, 17, 255));
    position: relative;
    font-size: 25px;
    border-radius: 10px;
    width: 52%;
    height: 50px;
    position: relative;
    left: 24%;
    top:30%;
    transition: 40ms;
}

.Buy b{
    position: relative;
    top: 10px;
}

.Buy a{
    color: white;
}

#CYP{
    font-size: 70px;
    position: relative;
    left: 10%;
}

#SDGN{
    font-size: 20px;
    position: relative;
    left: 11%;
    top: 45%;
    z-index: 9;
    margin: 18px;
}

.dole{
    width: 100%;
    height: 36vh;
    background-color: rgb(121, 219, 175);
}

.dole1, .dole2{
    position: relative;
    width: 100%;
    height: 50%;
}

#dolelogo{
    width: 300px;
    position: absolute;
    left:41%;
}

hr{
    border: 2px solid rgb(72, 181, 132);
    width: 80%;
    margin: 0px 10%;
}

.ss{
    position: relative;
    width: 70%;
    left: 25%;
    display: flex;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ss li{
    margin: 10px 40px;
    border-radius: 5px;
}

.ss li:hover{
    background-color: white;
}

.ss li a img{
    padding: 10px;
    height: 40px;
    width: 40px;
}

.scrollbar{
    height: 80px;
    width: 100vw;
    background: linear-gradient(to bottom, rgb(34, 117, 200) 40%,rgb(12, 84, 157));
    position: relative;
    bottom: 25px;
    right: 10px;
}

.scrollbar p{
    color: aliceblue;
    top: 25%;
    font-size: 30px;
    position: relative;
    animation: scroll 11s linear infinite;
}

#NGOS{
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    margin: 5%;
}

@keyframes scroll{
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}

.support, .team{
    width: 80%;
    height: 60vh;
    margin: 50px 10% 100px 10%;
    display: flex;
}

.support1, .support2, .team1, .team2{
    position: relative;
    width: 50%;
    height: 90%;
    margin: 5% 0 5% 0;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.support2{
    border: 3px solid rgb(121, 219, 175);
}

.support2 ul{
    position: relative;
    top: 13%;
    font-size: 20px;
    list-style: none;
}

.support2 ul a li{
    margin: 5%;
}

.support2 ul a li:hover{
    margin: 5%;
    position: relative;
    left: 15px;
    transition: 30ms;
    color: rgb(67, 67, 67);
}

#faq{
    margin-left: 3%;
    font-size: 50px;
}

#aq{
    position: relative;
    left: 5%;
    font-size: 20px;
}

#cot{
    font-size: 50px;    
}

#supimg{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.email{
    width: 100px;
    position: relative;
    top: 20px;
    left: 4%;
    padding: 5px;
    border: 2px solid rgb(164, 164, 164);
    border-radius: 5px;
}

.email:hover{
    width: 100px;
    position: relative;
    top: 20px;
    left: 4%;
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    transition: 500ms;
}

.email a{
    position: relative;
    left: 30%;
}

#now{
    font-weight:900;
}

#hr{
    display: none;
}

#stepback{
    margin: 10px;
    width: 30px;
    height: 30px;
}

.kontejner_wtdap{
    width: 60%;
    position: relative;
    margin: 150px 20% 0px 20%;
    height: 45vh;
    background-color: rgb(173, 214, 255);
    border-radius: 15px;
}

.nadpis, .kontakt{
    position: relative;
    width: 100%;
    height: 30%;
}

.nadpis h1{
    position: relative;
    left: 25%;
    top: 20%;
}

.text{
    position: relative;
    height: 40%;
    width: 100%;
}

#text1{
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

#liop{
    left: 20%;
}

.about_1{
    display: flex;
    position: relative;
    width: 76%;
    margin: 100px 12% 100px 12%;
    height: 65vh;
}

.left_about_1, .right_about_1{
    position: relative;
    width: 40%;
    margin: 5%;
}

.right_about_1 p{
    margin-top: 15%;
}

#picture{
    position: relative;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #000000;
}

#eau{
    margin:5% 5% 0px 10%;
    font-size: 50px;
}

#text_dole{
    padding: 20px;
}

.project_kontejner{
    display: flex;
    position: relative;
    width: 80%;
    margin: 70px 10%;
    height: 70vh;
}

.o_hre{
    height: 70vh;
    width: 60%;
    margin: 0px 2%;
    border-radius: 15px;
}

.letak{
    width: 32%;
    margin: 0px 2%;
    height: 70vh;
}

.letak img{
    position: relative;
    height: 70vh;
    right: 27%;
    top: 2%;
}

.o_hre p{
    margin: 10% 30px;
}

video{
    margin: 0px 25% 100px 25%;
}

#blue{
    position: relative;
    left: 12%;
}

#le{
    position: relative;
    left: 10%;
}

#luech{
    position: relative;
    margin-top: 10%;
    font-size: 50px;
    margin-left: 5%;
}

.kontejner_payment{
    display: flex;
    width: 60%;
    height: 62vh;
    background-color: #f8a8ff;
    margin: 5% 20% 0px 20%;
    border-radius: 10px;
}

.kontejner_payment label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.name, .cvv{
    display: flex;
}

.payment1{
    position: relative;
    width: 46%;
    margin: 2%;
}

.payment2{
    width: 50%;
}

.cardnumber, .cardnumber input, .mail, .mail input{
    position: relative;
    width: 342px;
}

input{
    margin:  12px 5px;
    border-radius: 5px;
    height: 25px;
}

.pay{
    width: 350px;
    height: 80px;
    border-radius: 10px;
    background: linear-gradient(to left, rgb(138, 255, 201), rgb(20, 255, 153));
}

.pay:hover{
    width: 84%;
    height: 80px;
    border-radius: 10px;
    background: linear-gradient(to left,rgb(20, 255, 153), rgb(138, 255, 201));
}

#pn{
    font-size: 25px;
    position: relative;
    left: 35%;
    top: 30%;
}

.payment2 h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    left: 25%;
    top: 30%;
}

.payment2 h1{
    position: relative;
    left: 25%;
    top: 30%;
}

/*responsivita*/
@media(max-width:1135px){
    #liop{
        position: relative;
        left: 10%;
    }
}

@media(max-width:1350px){
    .letak{
        display: none;
    }

    .o_hre{
        width: 98%;
        margin: 0px 1%;
    }
}

@media(max-width:1090px){
    .about_1{
        height: 200px;
        width: 88%;
        margin: 80px 6% 80px 6%;
    }

    .left_about_1, .right_about_1{
        position: relative;
        width: 46%;
        margin: 1%;
    }

    .right_about_1 p{
        position: relative;
        margin: 50px;
        bottom: 100%;
    }

    #eau{
        margin:5% 5% 100px 10%;
        font-size: 50px;
    }

    .left_about_1{
        display: none;
    }
    .right_about_1{
        position: relative;
        width: 90%;
        margin: 5%;
    }
}

@media(max-width:960px){
    .kontejner_wtdap{
        width: 80%;
        position: relative;
        margin: 150px 10% 0px 10%;
        height: 50vh;
        background-color: rgb(173, 214, 255);
        border-radius: 15px;
    }
}

@media(max-width:730px){
    #liop{
        position: relative;
        left: 5%;
    }
}

@media(max-width:560px){
    .kontejner_wtdap{
        width: 90%;
        position: relative;
        margin: 140px 5% 0 5%;
        height: 70vh;
        background-color: rgb(173, 214, 255);
        border-radius: 15px;
    }

    #liop, #cicms{
        left: 10%;
    }

    .email{
        margin: 20px;
    }
}

@media(max-width:700px){
    .kontejner_wtdap{
        width: 90%;
        position: relative;
        margin: 140px 5% 0px 5%;
        height: 50vh;
        background-color: rgb(173, 214, 255);
        border-radius: 15px;
    }
}

@media(max-width:780px){
    .half1{
        display: none;
    }

    #eau{
        margin:5% 5% 50px 10%;
        font-size: 50px;
    }


    #hr{
        display: block;
    }

    .half2 ul li{
        padding: 5px;
    }
    
    .half2{
        width: 100%;
        height: 100%;
    }

    .half2 ul{
        position: relative;
        right: 5%;
    }

    video{
        margin: 0px;
        width: 100%;
    }
}

@media(max-width:935px){
    .Standart2 p, .Pro2 p, .Ultra2 p{
        position: relative;
        top: 20%;
    }
}

@media(max-width:1240px){
    #NGOS{
        position: absolute;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 55px;
        left: 10%;
        top: 150%;
    }

    .scrollbar p{
        color: aliceblue;
        top: 35%;
        font-size: 20px;
        position: relative;
        animation: scroll 13s linear infinite;
    }

    .ss{
        position: relative;
        left: 20%;
        display: flex;
        list-style: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .support2{
        border: 0px;
    }
}

@media(max-width:655px){
    .kontejner_payment{
        display: flex;
        width: 90%;
        height: 62vh;
        background-color: #f8a8ff;
        margin: 5% 5% 0px 5%;
        border-radius: 10px;
    }
}

@media(max-width:1075px){
    #dolelogo{
        display: none;
    }

    hr{
        display: none;
    }

    .payment2{
        display: none;
    }
    
    #aq{
        display: none;
    }

    #NGOS{
        display: none;
    }

    .dole1{
        display: none;
    }

    .dole{
        width: 100%;
        height: 20vh;
        background-color: rgb(121, 219, 175);
    }

    .ss{
        position: relative;
        top: 30%;
        left: 100px;
    }

    #MP{
        border-radius: 5px;
        padding: 3px;
        background-color: #000000;
        color: white;
        left: 20%;
        bottom: 100%;
        position: absolute;
        font-size: 60%;
    }

    .support{
        position: relative;
        width: 80%;
        height: 60vh;
        margin: 50px 10% 100px 10%;
        display: flex;
        flex-direction: column;
    }

    .support2{
        position: relative;
        width: 100%;
        height: 60%;
        margin: 0px;
        border-radius: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
    }

    .support1{
        position: relative;
        width: 100%;
        height: 40%; 
    }
}

@media(max-width:1175px){
    .support, .team{
        width: 90%;
        height: 60vh;
        margin: 50px 5% 100px 5%;
    }

    .team2{
        display: none;
    }

    .team1{
        position: relative;
        width: 50%;
        height: 90%;
        margin: 5% 0 5% 5%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}

@media(max-width:834px){
    video{
        margin: 10% 15% 60px 15%;
        width: 70%;
        height: 260px;
    }

    #eau{
        margin:5% 5% 20px 5%;
        font-size: 50px;
    }

    body{
        overflow-x: hidden;
        background-color: rgb(248, 248, 248);
        max-width: 100vw;
        max-height: 100vh;
    }

    .ss li a img{
        padding: 7px;
        height: 28px;
        width: 28px;
    }
    
    .ss{
        position: relative;
        top: 30%;
        left: 70px;
    }

    .kontejner_kurz{
        justify-content: space-around;
        font-size: 35px;
        display: flex;
        position: relative;
        width: 80vw;
        height: 100vh;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    .Standart{
        margin-left: 90px;
    }

    #MP{
        display: none;
    }

    #SDGN{
        display: none;
    }
}

@media(max-width:725px){
    .ss li a img{
        padding: 7px;
        height: 28px;
        width: 28px;
    }
    
    .ss{
        position: relative;
        top: 30%;
        left: 17px;
    }

    #SDGN{
        display: none;
    }
}

@media(max-width:660px){
    .ss li a img{
        padding: 5px;
        height: 19px;
        width: 19px;
    }

    #luech{
        position: absolute;
        top: 120px;
        padding: 10%;
        right: 10%;
    }

    #pd{
        margin-top: 20%;
    }

    .dole{
        margin-top: 15%;
    }

    #wtdap{
        left: 4%;
    }

    #luech{
        position: relative;
        margin-top: 25%;
        font-size: 50px;
        margin-left: 5%;
    }

    .support2 ul{
        position: relative;
        top: 13%;
        font-size: 20px;
        list-style:circle;
    }
    
    .ss{
        position: relative;
        width: 70%;
        left: 10%;
        display: flex;
        list-style: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .ss li{
        position: relative;
        right: 16%;
        margin: 45px 30px 0px 30px;
        border-radius: 5px;
    }
}

@media(min-height:945px){
    .pay, .pay:hover{
        width: 365px;
    }

    .kontejner_payment{
        height: 52vh;
    }

    .cardnumber input, .mail input{
        width: 355px;
    }

    #MP{
        position: absolute;
        left: 35%;
    }

    .payment2 h2{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        position: relative;
        font-size: 50px;
        left: 25%;
        top: 30%;
    }
    
    .payment2 h1{
        position: relative;
        left: 25%;
        font-size: 50px;
        top: 30%;
    }
}

@media(max-width:495px){
    .dole{
        position: relative;
        bottom: 0px;
        width: 100%;
        height: 15vh;
        background-color: rgb(121, 219, 175);
    }

    .ss li a img{
        padding: 5px;
        height: 19px;
        width: 19px;
    }
    
    .ss{
        position: relative;
        top: 100%;
        right: 100px;
    }

    .ss li{
        position: relative;
        margin: 10px 20px;
        border-radius: 3px;
    }

    .scrollbar p{
        color: aliceblue;
        top: 30%;
        font-size: 20px;
        position: relative;
        animation: scroll 13s linear infinite;
        min-width: 100wv;
    }
}

@media(min-width:1900px){
    .ss{
        left: 30%;
    }
}

@media(max-width:400px){
    .half2 ul{
        font-size: 18px;
        top: 30px;
    }

    .kontejner_payment{
        height: 55vh;
    }

    .kontejner_wtdap{
        height: 60vh;
    }

    .pay{
        position: relative;
        width: 310px;
    }

    .name input, .cvv input{
        width: 135px;
    }

    .cardnumber, .cardnumber input, .mail, .mail input{
        position: relative;
        width: 290px;
    }

    .dole{
        position: relative;
        bottom: 0px;
        margin-top: 20px;
        width: 100%;
        height: 15vh;
        background-color: rgb(121, 219, 175);
    }

    .Standart{
        margin-left: 30px;
    }

    .ss{
        left: 10px;
        top: 45px;
    }
}
